body {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #aaa;
	background-color: #666;
}


#container {
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}

a {
	color: #0063DC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

