/*

i.fa.fa-external-link
i.fa.fa-file
span.glyphicon.glyphicon-file
span.glyphicon.glyphicon-resize-full
span.glyphicon.glyphicon-comment
i.fa.fa-expand
i.fa.fa-bars

http://fonts.googleapis.com/css?family=Signika
//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css
//netdna.bootstrapcdn.com/bootswatch/latest/slate/bootstrap.min.css
https://github.com/thomaspark/bootswatch/tree/gh-pages/slate
http://netdna.bootstrapcdn.com/bootswatch/latest/slate/bootstrap.min.css

*/
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.align-inherit {
  vertical-align: inherit;
}
.pad {
  padding-top: 10px;
  padding-bottom: 0px;
}
.grey-on-dark {
  color: #ccc;
  border: 1px solid #555555;
  background-color: #1c1e22;
  text-shadow:0 1px 0 #666666;
}
.affix {
  top: 20px;
  z-index: 1000;
  color: #c8c8c8;
  background: #1c1e22;
  border-color: #aaaaaa;
}
.affix .grey-on-dark {
  color: #ccc;
  border: 1px solid #555555;
  background-color: #2c2e33;
  text-shadow:0 1px 0 #666666;
}

.input-xs {
  height: 25px;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 11px;
  border-radius: 3px;
}
.text-bold-12 {
  font-size: 12px;
  font-weight: bold;
}
.shift-up-5 {
  position: relative;
  top: -5px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.title {
  font-family: 'Signika', sans-serif;
  font-style: italic;
  color: #fff;
}
.text-strong {
  font-weight: bold;
}
.bg-dark {
  background-color: #272b30;
}
.bg-darker {
  background-color: #1c1e22;
}
.cursor {
  cursor: pointer;
  cursor: hand;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.popover {
  max-width: 500px;
}
.markdown {
  word-wrap: break-word;
}
.markdown p:first-child {
  margin-top: 0em;
  display: inline;
}
.markdown ul {
  padding-left: 20px;
  list-style: disc;
}
#main-table td {
  width: 12.5%;
}
#p-text-11 {
  font-size: 11px;
}
/*
  http://spiffygif.com/?color=cccccc&lines=11&bgColor=272b30&radius=7&width=2&halo=false
*/
.spinner {
  background-image: url("../images/spiffygif_30x30.gif");
  width: 30px;
  height: 30px;
}
/* 
  github buttons
*/
.gh-btn {
  position:relative;
  top: 0px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-bottom-color: #bcbcbc;
  background-color: #e6e6e6;
  background-image: linear-gradient(#fafafa,#eaeaea);
  height: 20px;
  overflow: hidden;

  border-radius: 3px;
  padding: 2px 5px 3px 3px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.gh-btn:hover {
  color: #000;
  text-decoration: none;
}
