  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" role="form">
        <div class="modal-header bg-darker">
          <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"> <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title"><i class="fa fa-cog fa-lg"></i> Settings</h4>
        </div>
        <div class="modal-body">
        <!--
          <div class="form-group">
            <label class="col-sm-3 control-label" for="query_product">The Sites</label>
            <div class="col-sm-9">
            <select class="form-control input-sm" name="query_product" ng-model="vm.query_product" ng-change="vm.onSelectionChange()" ng-options="item.id as item.name for item in vm.products_select_list"></select>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for="query_tech">Technologies</label>
            <div class="col-sm-9">
            <select class="form-control input-sm" name="query_tech" ng-model="vm.query_tech" ng-change="vm.onSelectionChange()" ng-options="item.id as item.name for item in vm.tech_select_list"></select>
            </div>
          </div>
          //-->

          <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Page Size</label>
            <div class="col-sm-9">
                <select class="form-control input-sm " ng-model="vm.pageSize" id="pageSize">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="theme">Theme</label>
            <div class="col-sm-9">
                <select class="form-control input-sm " ng-model="vm.theme" ng-change="vm.onThemeChange()" id="theme">
                  <option value="slate">Slate</option>
                  <option value="yeti">Yeti</option>
                  <option value="spacelab">Spacelab</option>
                  <option value="flatly">Flatly</option>
                  <option value="sandstone">Sandstone</option>
                </select>
                <span class="pull-right"><small><em>Thanks <a href="http://bootswatch.com/" target="_blank">BootSwatch</a> !</em></small></span>
            </div>
          </div>
          
        </div><!-- /.modal-body -->
        <div class="modal-footer bg-darker">
          <button class="btn btn-default pull-left" ng-click="vm.clearSelections()">Reset</button>
          <button class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
        </div><!-- /.modal-footer -->
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
