{
  "development": {
    "logLevel": 6,
    "port": 8081,
    "mongodb": "",
    "dumpExceptions": true,
    "showStack": true
  },
  "production": {
    "logLevel", 4,
    "port": 8081,
    "mongodb": "",
    "dumpExceptions": false,
    "showStack": false
  }
}
