{
  "development": {
    "port": 8081,
    "mongodb": "",
    "dumpExceptions": true,
    "showStack": true
  },
  "production": {
    "port": 8081,
    "mongodb": "",
    "dumpExceptions": false,
    "showStack": false
  }
}
