

<!--  Templates START //-->

<div class="display-none" ng-include="'main/popup-hover.html'">
</div>

<div class="display-none" ng-include="'main/popup.html'">
</div>

<div class="display-none" ng-include="'main/modal-product-detail.html'">
</div>

<!--  Templates END //-->



<!--  Banner START //-->
<div class="row"
  ng-include="'main/banner.html'">
</div>
<!--  Banner END //-->



<!--  MAIN START //-->
<div class="row container-fluid">
  <div class="row">
    <div id="main" class="col-xs-12">

      <!--  Mobile START //-->
      <div ng-if="vm.isMobile"
        ng-include="'main/mobile.html'">
      </div>
      <!--  Mobile END //-->

      <!--  Desktop START //-->
      <div ng-if="!vm.isMobile"
        infinite-scroll="vm.infiniteGetAdditionalData()"
        infinite-scroll-disabled='vm.busy'
        infinite-scroll-distance="0"
        infinite-scroll-immediate-check="false"
        ng-include="'main/desktop.html'">>
      </div>
      <!--  Desktop END //-->

    </div>
  </div>
</div>
<!--  MAIN END //-->



<!--  Loading indicators START //-->
<!--
<div class="row" ng-if="!vm.hasMore">
  <p class="text-center text-muted margin-bottom-40">
    <i class="fa fa-ban fa-lg"></i>
  </p>
</div>
//-->
<div class="row" ng-if="vm.hasMore && vm.busy">
    <div class="text-center center-block margin-bottom-40"><i class="fa fa-refresh fa-spin fa-2x"></i></div>
</div>
<div class="row" ng-if="vm.isMobile && vm.mobileHasMore() && !vm.busy">
  <p class="text-center text-muted margin-bottom-40">
    <button class="btn btn-default vcenter" ng-click="vm.mobileGetAdditionalData()">
    Loaded {{ vm.infiniteCount }} / {{ vm.getFilteredProducts().length }}
    <i class="fa fa-arrow-down"></i>
    Click for more
    </button>
  </p>
</div>
<!--  Loading indicators END //-->




<!--  Feedback / SubmissionModal Form START //-->
<div class="modal fade"
  id="SubmissionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Feedback Submission Modal"
  aria-hidden="true"
  ng-controller="SubmissionForm"
  ng-include="'main/modal-submit.html'">
</div><!-- /.modal -->
<!--  Feedback Form END //-->




<!--  Setting Modal START //-->
<div class="modal fade"
  id="SettingsModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Settings Modal"
  aria-hidden="true"
  ng-include="'main/modal-desktop-settings.html'">
</div><!-- /.modal -->
<!--  Settings Modal END //-->



