  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="form-horizontal" role="form" name="SubmissionForm">
        <div class="modal-header bg-darker">
          <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="modal">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"> <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title"><i class="fa fa-paper-plane fa-lg"></i> Add a Stack</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" name="name" ng-model="submission.name" placeholder="Your Name" minlength="2" required>
              <span ng-show="SubmissionForm.name.$error.required" class="text-danger help-block">Please do tell us your name.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="twitter">Twitter</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" name="twitter" ng-model="submission.twitter" placeholder="A tweet to say thanks is the least we can do!" minlength="2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control input-sm" name="email" ng-model="submission.email" placeholder="Your Email. We don't spam or sell emails." minlength="2">
              <span ng-show="SubmissionForm.email.$error.email" class="text-danger help-block">You might have a typo in your email address.</span>
              <span ng-show="SubmissionForm.email.$error.required" class="text-danger help-block">Please tell us your email. We don't spam or sell email addresses.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="product">The Site</label>
            <div class="col-sm-9">
              <input type="text" class="form-control input-sm" name="product" ng-model="submission.product" placeholder="The web enabled product or service you might have feedback on." minlength="2">
              <span ng-show="SubmissionForm.product.$error.required" class="text-danger help-block">The web enabled company/product are you referring to</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="url">The Site's Url</label>
            <div class="col-sm-9">
              <input type="url" class="form-control input-sm" name="url" ng-model="submission.url" placeholder="Surely, the product/company has a website right?" minlength="2">
              <span ng-show="SubmissionForm.url.$error.url" class="text-danger help-block">We're not sure thats a valid url.</span>
              <span ng-show="SubmissionForm.url.$error.required" class="text-danger help-block">Surely, the site/product has a website right?</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="comments">Comments</label>
            <div class="col-sm-9">
            <textarea class="form-control input-sm" name="comments" rows="2" ng-model="submission.comments" placeholder="Feedback, suggestions, comments, or technology information." ></textarea>
            </div>
          </div>
          <div class="list-group">
            <div class="list-group-item" ng-repeat="tier in submission.tiers">
              <p class="list-group-item-text">
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="product">
                    Technology
                    <button ng-if="!$first" class="btn btn-default btn-xs" ng-click="delete(tier.id)">
                      <span aria-hidden="true" class="glyphicon glyphicon-remove"> <span class="sr-only">Delete</span>
                    </button>
                  </label>
                  <div class="col-sm-8">
                    <select class="form-control input-sm" name="id" ng-model="tier.product" ng-options="item.value as item.key for item in products"></select>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <label class="col-sm-4 control-label" for="notes">
                    <button ng-if="$last" class="btn btn-default pull-right btn-sm" ng-click="add()">Add Another</button>
                  </label>
                  <div class="col-sm-8">
                    <textarea class="form-control input-sm" name="notes" rows="2" ng-model="tier.notes" placeholder="Usage notes, or unlisted Technology details" ></textarea>
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div><!-- /.modal-body -->
        <div class="modal-footer bg-darker">
          <button class="btn btn-default pull-left" ng-click="reset()" ng-disabled="isUnchanged(submission)">Reset</button>
          <button type="submit" class="btn btn-primary pull-right" ng-click="save(submission)" ng-disabled="!!SubmissionForm.$invalid">Submit</button>
        </div><!-- /.modal-footer -->
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->